<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dspy</title>
</head>
<body>
<div id="queue">
        <div v-for="pair in messages">
            {{pair["from"]}} <==> {{pair["to"]}}
            <p v-for="msg in pair.messages">
                id: {{msg[0]}},
                msg: {{msg[1]["payload"]}}
                <input type="button" @click="drop(msg[0])" value="x">
            </p>
        </div>
        <p v-if="show_deliver_response">
            {{deliver_response}}
        </p>
            <input type="text" v-model="n_for_deliver">
            <input type="button" @click="deliver" value="deliver">
        </p>
        <p>
            <input type="button" @click="refresh" value="refresh">
        </p>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
const queue = new Vue({
    el: "#queue",
    data: {
        messages: [],
        show_deliver_response: false,
        deliver_response: "",
        n_for_deliver: 10
    },
    created() {
        this.refresh()
    },
    methods: {
        _onResponse({data: {messages, error}}) {
            if (error) {
                alert(error);
                return;
            }
            this.show_deliver_response = false;
            this.messages = messages;
        },
        _onDelivered({data: {messages, delivered, error}}) {
            if (error) {
                alert(error);
                return;
            }
            this.messages = messages;
            this.show_deliver_response = true;
            this.deliver_response = delivered;
        },
        refresh() {
            axios.get("/messages")
                .then(this._onResponse)
                .catch(error => {
                            console.log("Error occurred ", error);
                            alert(error.message);
                        })
        },
        drop(id) {
           axios.post("/messages/drop/" + id)
               .then(this._onResponse)
               .catch(error => {
                        console.log("Error occurred ", error);
                        alert(error.message);
                    })
        },
        deliver() {
            axios.post("/messages/deliver/" + this.n_for_deliver)
                .then(this._onDelivered)
                .catch(error => {
                        console.log("Error occurred ", error);
                        alert(error.message);
                    })
        },
        deliver_one(id) {
            axios.post("/messages/deliver/" + id)
                .then(this._onDelivered)
                .catch(error => {
                        console.log("Error occurred ", error);
                        alert(error.message);
                    })
        }
    }
})
</script>
</html>