<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dspy</title>
</head>
<body>
<div id="queue">
        <div v-for="pair in messages">
            {{pair["from"]}} <==> {{pair["to"]}}
            <p v-for="msg in pair.messages">
                id: {{msg[0]}},
                msg: {{msg[1]["payload"]}}
            </p>
        </div>
        <p v-if="show_deliver_response">
            delivered: {{deliver_response}}
        </p>
        <p>
            <input type="button" @click="deliver" value="deliver">
        </p>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
const queue = new Vue({
    el: "#queue",
    data: {
        messages: [],
        show_deliver_response: false,
        deliver_response: ""
    },
    created() {
        axios.get("/messages")
            .then(this._onResponce)
            .catch(error => {
                        console.log("Error occurred ", error);
                        alert(error.message);
                    })
    },
    methods: {
        _onResponce({data: {messages, error}}) {
            if (error) {
                alert(error);
                return;
            }
            this.messages = messages;
        },
        _onDelivered({data: {messages, delivered, error}}) {
            console.log(messages, delivered)
            if (error) {
                alert(error);
                return;
            }
            this.messages = messages;
            this.show_deliver_response = true;
            this.deliver_response = delivered;
        },
        deliver() {
            axios.post("/messages/deliver/10")
                .then(this._onDelivered)
                .catch(error => {
                        console.log("Error occurred ", error);
                        alert(error.message);
                    })
        }
    }
})
</script>
</html>